<div *ngIf="messageService.messages.length">

  <h2>Messages</h2>
  <button class="clear" data-bs-toggle="modal" data-bs-target="#staticBackdrop">clear</button>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        真的要說再見嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="messageService.clear()">確定</button>
      </div>
    </div>
  </div>
</div>
